

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  color: "#fff";
  background-color: darkslategrey;
}

:root {
  --area-door-height: 310px;
  --area-door-width: 200px;
}



